# Server Configuration
NODE_ENV=development
PORT=3000
HOST=0.0.0.0
SERVER_DISABLE_REQUEST_LOGGING=false
TRUST_PROXY_ENABLED=false
LOG_LEVEL=debug
LOG_NAME=ixo-ussd-server
# USSD_MACHINE_TYPE is useful when you have different USSD machines in the same project
USSD_MACHINE_TYPE=example

# Database
# PostgreSQL connection variables
DATABASE_URL="postgres://username:password@localhost:5432/database"
PG_USER=your-user-name
PG_PASSWORD=your-user-password
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=ixo-ussd-dev

# IXO Platform
# Network type controls all blockchain URLs (devnet, testnet, mainnet, local)
CHAIN_NETWORK=devnet
CHAIN_RPC_URL=https://devnet.ixo.earth/rpc/

# Matrix Configuration
SKIP_MATRIX_ONBOARDING=false
MATRIX_HOME_SERVER="https://devmx.ixo.earth"
MATRIX_BOT_URL="https://rooms.bot.devmx.ixo.earth"
MATRIX_STATE_BOT_URL="https://state.bot.devmx.ixo.earth"
MATRIX_REGISTRATION_TOKEN=your_matrix_token

# Feegrant Configuration
FEEGRANT_AUTH_MAINNET=""
FEEGRANT_AUTH_TESTNET=""
FEEGRANT_AUTH_DEVNET="your_feegrant_token"
FEEGRANT_URL="https://feegrant.devnet.ixo.earth"
FEEGRANT_GRANTER="your_feegrant_granter"

# System
SYSTEM_SECRET=your_system_secret
PIN_ENCRYPTION_KEY="ff7465fb16a9956a59816023838c4e31a7a5c690ff047eacc6c93ee61933f472"
DEMO_PIN=your_demo_pin
DEMO_PIN_HASH=your_demo_pin_hash

# Metrics
METRICS_ENABLED=true
